#
# gsensor drivers configuration
#

menuconfig IMT_DEVICE
	bool "IMT device support"
	default y	
	help
	  Enable this to be able to choose the drivers for controlling the
	  g_sensor on some platforms, for example on PDAs.

if IMT_DEVICE

config SC_CK235
  bool "SC_CK235"
	depends on IMT_DEVICE
	default y
	help	 
	  To have support for your specific gsesnor you will have to
	  select the proper drivers which depend on this option.
endif
